<!DOCTYPE html>
<html>
<head>
	<title>search</title>
</head>
<body bgcolor="lightgreen">
	<center>
		<form action="search_result"> 
			<input type="text" name="title">
			<input type="submit" value="submit">
		</form>
	</center>
</body>
</html>